{
    "whisperPath": "/home/[your-path-to-whisper-binary]/bin/whisper",
    "transcriptionGroup": "[your-user-or-grupo-to-send-transcriptions-if-not-same_chat]",
    "chats": {
        "group-id-1": {
            "transcribeAudio": true,
            "sendAudioToTranscriptGroup": true,
            "sendTranscriptionTo": "same_chat",
            "summarizeDocuments": true
        },
        "group-id-2": {
            "summarizeDocuments": true
        }
    }
}
